<div class="w-full py-5">
  <div class="w-9/10 flex flex-row shadow-xl/20">
    <div class="w-1/4 bg-[#024959]"></div>
    <div class="w-3/4 bg-white p-5">
      <div class="w-full p-4 text-[3rem] line">Cần thêm thông tin?</div>
      <div class="p-8 w-full Montserrat text-[1.5rem]">
Bạn cần tư vấn hoặc yêu cầu mẫu thử? Hãy liên hệ đội ngũ kỹ thuật của An Bình. Chúng tôi sẵn sàng đồng hành cùng bạn để giúp tối ưu hóa chi phí và nâng cao chất lượng sản phẩm.</div>
    <div class="w-full p-4 flex justify-end">
      <button class="p-2 text text-[2.5rem] font-semibold bg-[#024959] text-white px-8 ">Tư Vấn</button>
    </div>
    </div>
  </div>
</div>
