---

---

<div class="w-full bg-[#F2E3D5] p-16">
    <h2 class="text-center text-[3rem] text-[#024959]">Liên hệ An Bình Chemtech</h2>
    <div class="text-center text-[1rem] font-sans">để nhận mẫu thử, báo giá hoặc tư vấn công thức phù hợp cho dây chuyền sản xuất của bạn.</div>
    <div class="grid grid-cols-3 gap-4 py-4">
        <input class="bg-white inset-shadow-sm leading-[2] p-3" name="name" placeholder="Tên"/>
        <input class="col-span-2 bg-white inset-shadow-sm leading-[2] p-3" name="email" type="email" placeholder="*Email"/>
        <input class="bg-white inset-shadow-sm leading-[2] p-3" name="phonenumber bg-white inset-shadow-sm leading-[2] p-3" type="tel" placeholder="*Số điện thoại"/>
        <input class="col-span-2 bg-white inset-shadow-sm leading-[2] p-3" name="companyname" type="text" placeholder="Tên công ty"/>
        <textarea class="bg-white inset-shadow-sm leading-[2] p-3 col-span-3" rows="10" placeholder="Nội dung yêu cầu"></textarea>
    </div>
    <div>* Bắt buộc phải nhập</div>
    <div class="w-full flex justify-end">
        <button class="px-8 py-2 bg-[#024959] font-semibold text-white">Gửi</button>
    </div>
</div>