---
import "../../styles/global.css";
---
<section id="homepage-hero" class="relative w-full h-screen flex justify-center m-0">
    <div class="w-full h-full absolute">
        <img src="/assets/grid.svg" class="absolute -z-11 w-full h-full hidden md:block object-cover"/>
        <img src="/assets/HeroSectionArrow.svg" class="absolute -z-10 max-w-none translate-y-[100px] -translate-x-[70px] w-[80%]"/>
    </div>
    <div class="mt-[5%] w-[85%] h-full flex flex-col justify-center items-center gap-8">
        <h1 class="text-[48px] md:text-[96px] font-bold text-center">
            Leading 
            <br>
            <span class="text-[var(--color-4)]">The Serverless</span>
            <br>
            Revolution.
        </h1> 
        <p class="text-[20px] md:text-[24px] text-center">
            We are partnering with the business to build modern applications,
                modernize existing applications, and reduce the time to market by 50%.
            </p> 
        <button
        class="overflow-hidden relative w-32 p-2 h-12 bg-[var(--color-4)] text-white border-none rounded-md text-xl font-bold cursor-pointer relative z-1 group"
        >
        Hover me!
        <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-white rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-left"
        ></span>
        <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-[var(--color-4)] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-left"
        ></span>
        <span
            class="absolute w-36 h-32 -top-8 -left-2 bg-[var(--color-3)] rotate-12 transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-left"
        ></span>
        <span
            class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 left-6 z-10"
            >Explore!</span
        >
        </button>

    </div>
</section>