---
import "../../styles/global.css";
---
<div id="HP_Hero" class="relative overflow-hidden h-[90vh]">
  <img src="../../assets/HP_Hero.jpg" alt="" class="w-full absolute top-[-100px] z-[-1]">
  <div class="h-3/4 flex flex-row">
    <div class="h-full w-3/5 bg-[#012E40]/50"></div>
    <div class="h-full w-2/5 bg-[#fff]/50"></div>
    <div class="auto-color-text absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-2/3 w-full text-center">
      <div class="font-extrabold text-[5rem]">Phosphate Expert</div>
      <div class="font-bold text-[1.7rem] text-center w-3/4 float-end flex items-center justify-center"><span class="block w-[40px] h-[1px] bg-[#fff] mx-2"></span>BY AN BINH ChemTech </div>
    </div>
  </div>
  <div class="bg-[#012E40] h-1/4 w-full z-5 realtive p-5">
    <span>Hân hạnh đồng hành cùng ngành công nghiệp thực phẩm & xử lý nước, An Bình Chemtech cung cấp các giải pháp hóa chất phosphat toàn diện – từ nguyên liệu đầu vào tiêu chuẩn thực phẩm đến phụ gia công thức độc quyền, giúp tối ưu hoá giá trị gia tăng cho nông thuỷ sản.</span></div>
</div>

