---
import '../../styles/global.css'
---
<section class="min-h-screen bg-[var(--color-1)] text-center py-20 px-8 xl:px-0 flex flex-col justify-center">
  <a href="/product" class="text-gray-400 text-lg max-w-lg mx-auto mb-2 capitalize flex items-center">Đi tới sản phẩm <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-indigo-600 ml-3 w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
    </svg>
  </a>
  <h1 class="text-white text-4xl md:text-5xl xl:text-6xl font-semibold max-w-3xl mx-auto mb-16 leading-snug">Những sản phẩm đặc trưng</h1>
  <div class="grid-offer text-left grid sm:grid-cols-2 md:grid-cols-2 gap-5 max-w-5xl mx-auto">
    <div class="card bg-[var(--color-4)] p-10 relative">
      <div class="circle">
      </div>
      <div class="relative md:pr-52">
        <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">Dipotassium Phosphate</h2>
        <p class="text-white line-clamp-3">Dipotassium Phosphate (K₂HPO₄) là một muối vô cơ của kali và phosphate, thường được sử dụng như một chất đệm pH, chất nhũ hóa, hoặc phụ gia dinh dưỡng trong thực phẩm, dược phẩm và công nghiệp. Nó tan tốt trong nước, không mùi, và có dạng tinh thể trắng hoặc bột.</p>
      </div>
      <div class="icon"></div>
    </div>
    <div class="card bg-[var(--color-4)] p-10 relative">
      <div class="circle">
      </div>
      <div class="relative md:pl-48">
        <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">Monopotassium Phosphate</h2>
        <p class="text-white line-clamp-3">Monopotassium Phosphate (KH₂PO₄) là một muối vô cơ của kali và phosphate, thường được dùng làm phân bón, chất điều chỉnh pH, hoặc phụ gia thực phẩm. Nó có dạng tinh thể trắng, tan tốt trong nước và cung cấp cả kali lẫn phospho cho cây trồng.</p>
      </div>
    </div>
    <div class="card bg-[var(--color-4)] p-10 relative">
      <div class="circle">
      </div>
      <div class="relative md:pr-44">
        <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">Sodium Tripolyphosphate</h2>
        <p class="text-white line-clamp-3">Sodium Tripolyphosphate (STPP, Na₅P₃O₁₀) là một hợp chất vô cơ thường được sử dụng trong thực phẩm, chất tẩy rửa và xử lý nước. Nó có dạng bột trắng, tan trong nước, và có tính năng làm mềm nước, ổn định cấu trúc sản phẩm, và giữ ẩm.</p>
      </div>
    </div>
    <div class="card bg-[var(--color-4)] p-10 relative">
      <div class="circle">
      </div>
      <div class="relative md:pl-48">
        <h2 class="capitalize text-white mb-4 text-2xl xl:text-3xl">Tetrasodium Pyrophosphate</h2>
        <p class="text-white line-clamp-3">Tetrasodium Pyrophosphate (TSPP, Na₄P₂O₇) là một muối vô cơ có dạng bột trắng, tan trong nước, được sử dụng phổ biến trong thực phẩm, dược phẩm và công nghiệp với vai trò là chất ổn định, chất tạo phức, hoặc điều chỉnh pH.</p>
      </div>
    </div>
  </div>