---
import '../../styles/global.css';
---
<div class="w-full p-5">
  <h2 class="m-4 text-[2rem] mb-10">Sản phẩm chính:</h2>
  <div id="HP_Products" class="grid grid-cols-3 p-10 gap-x-[100px] gap-y-[200px]">
    
  </div>
  <div class="w-full flex flex-row gap-2 items-center justify-end font-sans text-[2rem] font-bold">
    Xem thêm <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" class="w-7 h-7"><path d="M566.6 342.6C579.1 330.1 579.1 309.8 566.6 297.3L406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3C348.8 149.8 348.8 170.1 361.3 182.6L466.7 288L96 288C78.3 288 64 302.3 64 320C64 337.7 78.3 352 96 352L466.7 352L361.3 457.4C348.8 469.9 348.8 490.2 361.3 502.7C373.8 515.2 394.1 515.2 406.6 502.7L566.6 342.7z"/></svg>
  </div>
</div>
<script>
  $(document).ready(function() {
  var container = $('#HP_Products'); // Select the element where new elements will be added
  var numberOfElements = 6; // Define how many elements to add

  for (var i = 0; i < numberOfElements; i++) {
    // Create the HTML for the new element
    var newElementHtml = `
    <div class="border border-1 translate-2">
      <div class="bg-[#F2F2F2] -translate-4 p-4 min-h-[500px]">
        <h5 class="px-4 text-[2rem] text-[#34C759] font-bold">01 Phosphate</h5>
        <div class="p-8 text-[1.5rem]">
          We are Chemicals specialists with a portfolio of chemical manufacturers in China, offering a variety of product
        </div>
      </div>
    </div>
    `;

    // Append the new element to the container
    container.append(newElementHtml);
  }
});
</script>