---
import "../styles/global.css";
---
<!-- bg-gradient-to-b from-[var(--color-4)] to-[var(--color-3)] -->
   <section class="bg-[linear-gradient(to_bottom,_var(--color-4)_0%,_var(--color-1)_40%,_var(--color-1)_60%,_var(--color-4)_100%)] py-8 bg-cover bg-center bg-no-repeat">
  <div class="flex justify-center items-center py-8">
    
  </div>

  <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row items-center justify-evenly gap-6">
      <!-- Cột trái - Thông tin liên hệ -->
      <div class="lg:col-span-2 flex flex-col space-y-6">
        
        <h1 class="font-manrope text-white text-4xl lg:text-6xl font-bold leading-10">
          Liên hệ
        </h1>

        <div class="text-[var(--color-2)] mt-4 mb-4 space-y-4 text-xl">
          <div class="flex items-center space-x-2">
            <img src="https://www.tmasolutions.vn//images/icons/LienHe/phong-kinh-doanh.webp" class="h-10 w-10" />
            <span>+84 123 456 789</span>
          </div>
          <div class="flex items-center space-x-2">
            <img src="https://www.tmasolutions.vn//images/icons/LienHe/yeu-cau-chung.webp" class="h-10 w-10" />
            <span>contact@company.com</span>
          </div>
          <div class="flex items-center space-x-2">
            <img src="https://www.tmasolutions.vn//images/icons/LienHe/toa-nha-tma.webp" class="h-10 w-10" />
            <span>123 Đường ABC, Quận 1, TP.HCM</span>
          </div>

          <!-- Google Map -->
          <div class="w-full rounded-xl overflow-hidden shadow-lg">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.432716186844!2d106.70042427582522!3d10.774019959326205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3eebf67925%3A0x24c07dfe968790d3!2zMTIzIMSQLiBBQkMgQ8aw4budbmcgMSwgUFAuIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1svi!2s!4v1718000000000!5m2!1svi!2s"
              width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>

      <!-- Cột phải - Form -->
       <form id="contact-form"> 
      <div class="lg:col-span-3 bg-gray-50 pt-5 pb-5 pl-15 pr-15 rounded-2xl">
         <div class="max-w-2xl mx-auto w-full">

          <h2 class="text-[var(--color-3)] font-manrope text-3xl font-semibold leading-10 mb-11">
            Gửi tin nhắn cho chúng tôi
          </h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Name -->
            <div class="relative">
              <input type="text" id="name" name="nameCustomer" placeholder=" "
                oninput="this.setAttribute('data-has-content', this.value ? 'true' : '')"
                class="peer w-full h-12 text-[var(--color-3)] placeholder-transparent shadow-sm bg-transparent text-lg font-normal leading-7 rounded-full border border-gray-200 focus:outline-none pl-4 pt-2" />
              <label for="name"
                class="absolute left-4 top-2 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-lg peer-focus:top-0 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
                Họ và Tên
              </label>
            </div>

            <!-- Email -->
            <div class="relative">
              <input type="text" id="email" name="email" placeholder=" "
                oninput="this.setAttribute('data-has-content', this.value ? 'true' : '')"
                class="peer w-full h-12 text-[var(--color-3)] placeholder-transparent shadow-sm bg-transparent text-lg font-normal leading-7 rounded-full border border-gray-200 focus:outline-none pl-4 pt-2" />
              <label for="Email"
                class="absolute left-4 top-2 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-lg peer-focus:top-0 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
                Email
              </label>
            </div>

            <!-- Phone -->
            <div class="relative">
              <input type="tel" id="phone" name="phone" placeholder=" "
                oninput="this.setAttribute('data-has-content', this.value ? 'true' : '')"
                class="peer w-full h-12 text-[var(--color-3)] placeholder-transparent shadow-sm bg-transparent text-lg font-normal leading-7 rounded-full border border-gray-200 focus:outline-none pl-4 pt-2" />
              <label for="phone"
                class="absolute left-4 top-2 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-lg peer-focus:top-0 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
                Số điện thoại
              </label>
            </div>

            <!-- Bạn là -->
            <div class="relative">
              <select id="businessType" name="businessType" onchange="this.setAttribute('data-has-content', this.value ? 'true' : '')"
                class="peer w-full h-12 text-[var(--color-3)] bg-transparent text-lg font-normal leading-7 rounded-full border border-gray-200 focus:outline-none pl-4 pt-2 appearance-none shadow-sm">
                <option value="" hidden></option>
                <option value="retail">Cá nhân</option>
                <option value="service">Doanh nghiệp</option>
                <option value="other">Khác</option>
              </select>
              <label for="businessType"
                class="absolute left-4 top-2 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-lg peer-focus:top-0 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
                Bạn là <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </label>
              
            </div>

            <!-- Loại hình kinh doanh -->
            <div class="relative">
              <select id="businessCategory" name="businessCategory"
                onchange="this.setAttribute('data-has-content', this.value ? 'true' : '')"
                class="peer w-full h-12 text-[var(--color-3)] bg-transparent text-lg font-normal leading-7 rounded-full border border-gray-200 focus:outline-none pl-4 pt-2 appearance-none shadow-sm">
                <option value="" hidden></option>
                <option value="retail">Bán lẻ</option>
                <option value="service">Dịch vụ</option>
                <option value="manufacturing">Sản xuất</option>
                <option value="other">Khác</option>
              </select>
              <label for="businessCategory"
                class="absolute left-4 top-2 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-lg peer-focus:top-0 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
                Loại hình kinh doanh <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
              </label>
            </div>
          </div>

          <!-- Message -->
          <div class="relative my-6">
            <textarea id="message" name="messageCustomer" placeholder=" " rows="4"
              oninput="this.setAttribute('data-has-content', this.value ? 'true' : '')"
              class="peer w-full text-[var(--color-3)] placeholder-transparent shadow-sm bg-transparent text-lg font-normal leading-7 rounded-2xl border border-gray-200 focus:outline-none p-4 resize-none"></textarea>
            <label for="message"
              class="absolute left-4 top-4 text-[var(--color-3)] text-base transition-all duration-200 peer-placeholder-shown:top-5 peer-placeholder-shown:text-lg peer-focus:top-2 peer-focus:text-sm peer-focus:text-[var(--color-3)]">
              Tin nhắn
            </label>
          </div>

          <!-- Button -->
          <button type="submit"
            class="w-full h-10 text-[var(--color-2)] text-base font-semibold leading-6 rounded-full transition-all opacity-80 duration-300 bg-[var(--color-4)] hover:opacity-100 shadow-sm">
            Gửi
          </button>
          </form>

          <!-- Custom Input Styling -->
          <style>
            input[data-has-content="true"]+label,
            textarea[data-has-content="true"]+label,
            select[data-has-content="true"]+label {
              top: 0 !important;
              font-size: 0.875rem;
              color: #000;
            }
          </style>

          <!-- Input số -->
          <script>
            const phoneInput = document.getElementById('phone');
            phoneInput?.addEventListener('input', function () {
              this.value = this.value.replace(/[^0-9]/g, '');
              this.setAttribute('data-has-content', this.value ? 'true' : '');
            });

            const form = document.getElementById("contact-form");
            form?.addEventListener("submit", async(e) => {
              e.preventDefault();

              const formData = new FormData(form);
              const res = await fetch("/api/new-contact", {
                method: "POST",
                body: formData,
              })
              if(!res.ok){
                alert("Đã gửi Liên hệ, chúng tôi sẽ sớm phản hồi bạn");
                window.location.href = "/contactus"
              }else{
                const error = await res.text();
                alert("❌ Lỗi khi gửi Liên hệ. Bạn vui lòng liên hệ trực tiếp qua SĐT" + error);
              }
            })
          </script>
          
        </div>
      </div>
    </div>
  </div>
</section>
