---
import "../styles/global.css";
---
<header class="z-[9999] fixed w-full h-[100px] flex flex-row justify-between p-4 bg-white">
    <div class="w-content h-full">
      <img src="../assets/AnBinhLogo_250x100.png" class="object-contain w-auto h-full"/>
    </div>
    <div id="navLinks" class="w-content h-full">
      <a>Trang Chủ</a>
      <a>Sản phẩm</a>
      <a>Liên hệ</a>
    </div>
</header>

