---
import ProductSlider from '../components/ProductSlider.astro';
import Hero from '../components/Homepage/Hero.astro';
import LogoCarousel from '../components/Homepage/LogoCarousel.astro'
import AboutUs from '../components/Homepage/AboutUs.astro';
import Products from '../components/Homepage/Products.astro'
import News from '../components/Homepage/News.astro'
import ContactHome from '../components/Homepage/ContactHome.astro'
---

<main>
  <Hero />
  <LogoCarousel />
  <AboutUs />
  <Products />
  <News />
  <ContactHome />
</main>
