---
import ProductSlider from '../components/ProductSlider.astro';
import { products } from '../data/products.js';
import Hero from '../components/Homepage/Hero.astro';
import LogoCarousel from '../components/Homepage/LogoCarousel.astro'
import AboutUs from '../components/Homepage/AboutUs.astro';
---

<main>
  <Hero />
  <LogoCarousel />
  <AboutUs />
</main>
