---
import ProductSlider from '../components/ProductSlider.astro';
import { products } from '../data/products.js';
import Hero from '../components/Homepage/Hero.astro';
import LogoCarousel from '../components/Homepage/LogoCarousel.astro'
---

<main>
  <Hero />
  <LogoCarousel />
</main>
