---
import ProductSlider from '../components/ProductSlider.astro';
import { products } from '../data/products.js';
import Hero from '../components/Homepage/Hero.astro';
---

<main>
  <Hero />
</main>
