<section class="bg-white text-[var(--color-3)] py-12">
  <div id="new-detail" class="max-w-7xl mx-auto px-4 flex flex-col lg:flex-row gap-12 mt-[5%]">

  </div>
</section>
<script>
import news from "../data/news.json";

const newDetail = document.getElementById('new-detail')
const urlParams = new URLSearchParams(window.location.search);
const id = parseInt(urlParams.get("id"));

const newItem = news.find(p => p.id === id);

if (!newItem) {
  newDetail.innerHTML = `<p class="text-red-500">Không tìm thấy tin tức.</p>`;
} else {
 newDetail.innerHTML = `
  <div class="w-full space-y-8">
    <!-- Tiêu đề -->
    <h1 class="text-4xl font-extrabold text-center text-[var(--color-1)]">
      ${newItem.title}
    </h1>

    <!-- Mô tả -->
      <div class="p-6 rounded-lg text-gray-700 leading-relaxed text-center">
        <div class="text-lg inline-block text-left max-w-3xl w-full">
          ${newItem.content}
        </div>
      </div>
  `;
}

</script>
