<section class="bg-white text-[var(--color-3)] py-12">
  <div id="product-detail" class="max-w-7xl mx-auto px-4 flex flex-col lg:flex-row gap-12 mt-[5%]">

  </div>
</section>
<script>
import { products } from "../data/products";

const productDetail = document.getElementById('product-detail')
const urlParams = new URLSearchParams(window.location.search);
const id = parseInt(urlParams.get("id"));

const product = products.find(p => p.id === id);

if (!product) {
  productDetail.innerHTML = `<p class="text-red-500">Không tìm thấy sản phẩm.</p>`;
} else {
  productDetail.innerHTML = `
    <div class="lg:w-1/2">
      <img src="${product.image}" alt="${product.title}" class="w-full h-[500px] object-contain rounded-xl shadow" />
    </div>
    <div class="lg:w-1/2">
      <h1 class="text-3xl font-bold text-[var(--color-1)] mb-4">${product.title}</h1>
      <p class="mb-6 text-gray-600">${product.description}</p>
      <button class="bg-[var(--color-3)] text-white px-6 py-3 rounded-md hover:bg-opacity-90 transition">
        Liên hệ với chúng tôi
      </button>
    </div>
  `;
}

</script>
