---
import Header from '../../components/Admin/Header.astro';
import Footer from '../../components/Admin/Footer.astro';
import Contact from '../../components/Admin/Contact.astro';

import { requireLogin, requireRole } from "../../lib/auth";

// Kiểm tra đăng nhập trước
const user = requireLogin(Astro.cookies);

if (!user) {
  return Astro.redirect("/login");
}

// Sau đó kiểm tra quyền
if (user.role !== "admin" && user.role !== "user") {
  return Astro.redirect("/login");
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ted Martins - Admin</title>

    <!-- Ionicons support -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
            <link rel="stylesheet" href="/styles/global.css" />
        <link rel = "stylesheet" href="/styles/homepage.css" />
  </head>

  <body>

    <Header user={user}/>  

    <Contact />

    <Footer user={user}/>
  </body>
</html>